.catalog {
    margin-bottom: 40px;
  }
  
  .catalogItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки одинаковой ширины */
    gap: 30px;
  }
  
  .loadMoreContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .loadMoreButton {
    padding: 5px 10px;
    background: none;
    color: gray;
    border: 1px gray solid;
    border-radius: 3px;
    cursor: pointer;
    transition: 200ms;
  }

  .loadMoreButton:hover {
    background: rgb(244, 244, 244);
    transition: 200ms;
  }
  
  .loadMoreButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }