.bestsellers {
    margin: 0 0 40px 0;
}

.titleSection {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 24px;
}
  
.bestsellerItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
  
.loader {
    text-align: center;
    font-size: 18px;
}